@charset "UTF-8";

/***************************************************
	searchform
***************************************************/

.searchform {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 2rem 2rem;
	background: #eee;
}

.custom-input {
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 0 4rem 0 0;
	border-radius: .6rem;
	line-height: 100%;
	background: #fff;
}

.searchform-input {
	width: 80%;
	padding: 1rem;
	border: none;
	outline: none;
	font-size: 1.4rem;
}

.custom-select { overflow: hidden; display: inline-block; position: relative; width: 20%; margin: 0 1rem 0 0; }
.custom-select::before {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 0;
	width: 2rem;
	height: 100%;
	transform: translate(0,-50%);
	content: '';
	background: #eee;
}
.custom-select::after {
	position: absolute;
	top: 50%;
	right: .6rem;
	z-index: 0;
	font-size: 1.6rem;
	transform: translate(0,-50%);
	font-family: 'qiita';
	content: '\e804';
}
.custom-select select { width: 120%; padding: .8rem 2.8rem .8rem 1.3rem; border: none; outline: none; font-size: 1.4rem; -webkit-appearance:none; appearance:none; background: none; }

.search-form-submit {
	position: absolute;
	top: 50%;
	right: 0;
	height: 100%;
	width: 4rem;
	font-size: 0;
	background: #0070cb;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.search-form-submit::after {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 1;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'qiita';
	content: '\e806';
	transform: translate(-50%,-50%);
}